<header>


  <h2 property="dc:title" datatype=""><a
  href="#">CONSCIENCE</a>
  </h2>


</header>

<div class="content">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <p>YOURS TO KEEP jewelry is handmade by using the most traditional production methods.
          The pieces are 100% handmade by micro-producers in their home workshops.
          The location of production is a place called Kotagede.
          It is located in Central Java (Indonesia).
          Kotagede has been famous for the art of silversmithing and jewelry making since the 1930s.
          It still keeps up its heritage until today.
        </p>

        <P>&nbsp;</P>

        <P>
          Nowadays the conditions have become harder for the silversmiths,
          the competition has become harder and the economic situation is challenging.
          YOURS TO KEEP cherishes the value of their work and their tradition.
          To participate in their success and ability to sustain their heritage,
          the YOURS TO KEEP products are all handmade by selected silversmiths from Kotagede.
          Therefore YOURS TO KEEP collaborates with Apikri, a local Fair Trade Organization (WFTO member).
          Apikri supports the producers by opening global markets for them and by giving business-related trainings and
          financial support.
          For more information about the work of Apikri and the principles of Fair Trade,
          please contact YOURS TO KEEP or visit the Apikri homepage
          <a href="http://www.apikri.org">(www.apikri.org).</a>
        </P>


      </div>
    </div>
  </div>
</div>