<header>

  <!--<span style='font-family: Georgia; color: rgb(51,204,153);'>-->
    <!--<h2 style='font-family: Georgia; color: rgb(51,204,153);'><a href="#">CONTACT</a>-->
    <!--</h2>-->

  <!--</span>-->

  <!--<h2 style='font-family: Georgia; color: rgb(51,204,153);'><a href="#">CONTACT</a>-->
  <!--</h2>-->

  <p class="headline">CONTACT</p>
  <br />


</header>

<div class="content">
  <div class="field ">
    <div class="field-items">
      <div class="field-item even"><p>&nbsp;</p>

        <p>Thank you for visiting the YOURS TO KEEP website. We hope your visit gave you
          a good impression about our brand.
          If you are interested in purchasing items from the current collection, as a
          consumer or retail customer, please
          do not hesitate to contact us for further information about prices, terms
          and conditions.</p>

        <p>&nbsp;</p>

        <p>We are also happy to receive any kind of feedback, questions about the brand,
          Fair Trade and products.
          We are happy to hear from you soon.</p>

        <p>&nbsp;</p>


        <p>&nbsp;</p>

        <p>&nbsp;</p>


        <!--<p style='font-family: Georgia;'><b>Contact Details</b></p>-->

        <p>&nbsp;</p>

        <p>
          YOURS TO KEEP <br/>
          Stefanie Heinrich <br/>
          Hamburg, Germany <br/>
          Telephone: +49 176 23513291 <br/>
          Mail: yourstokeepstyle@gmail.com</p>


        <p>&nbsp;</p>


        <p>&nbsp;</p>

        <p>&nbsp;</p>


        <p class="headline">References</p>

        <p>&nbsp;</p>

        <p>
          Web Building: Kurnia M (omenkzz@gmail.com) <br/>
          Photography: Agus Budiyanto (www.r​omeography.webs.com) <br/>


      </div>
    </div>
  </div>
</div>