<header>


  <!--<p class="headline">STOCKISTS</p>-->
  <br/>


</header>

<div class="content">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <p class="headline">STOCKISTS</p>

        <p>&nbsp;</p>
        <!--<p>&nbsp;</p>-->
        <p>This is a list of places where you can find YOURS TO KEEP jewelry.</p>


        <!--<p>This is a list of places where you can find YOURS TO KEEP jewelry.-->
        <!--If you should be interested in adding YOURS TO KEEP as a label for your own shop or in buying for private purposes,-->
        <!--please do not hesitate to contact us for further information.</p>-->

        <!--<p>&nbsp;</p>-->

        <!--<p>We are also happy to recive any kind of feedback, questions about the brand,-->
        <!--Fair Trade and products.-->
        <!--We are happy to hear from you soon.</p>-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>


        <p>&nbsp;</p>

        <p>&nbsp;</p>


        <p class="headline"><b>Shops</b></p>

        <p>&nbsp;</p>

        <p>
          Will be updated soon
        </p>


        <p>&nbsp;</p>


        <p>&nbsp;</p>

        <p>&nbsp;</p>


        <p class="headline"><b>Trade Shows and Markets</b></p>

        <p>&nbsp;</p>

        <!--<p>-->
        <!--8. + 9. July 2014 <br />-->
        <!--HERZBLUT MESSE <br />-->
        <!--Alte Münze/Passarelle Berlin-->
        <!--</p>-->
        <p>
          25 + 26 October 2014 <br/>
          STIJL Messe Düsseldorf <br/>
          Boui Boui Bilk <br/>
          <a href="http://www.stijlmesse.de/duesseldorf">www.stijlmesse.de/duesseldorf</a>
        </p>

        <p>&nbsp;</p>

        <p>
          08 + 09 November 2014 <br/>
          DESIGNgift Kiel <br/>
          Cruise Terminal Ostseekai <br/>
          <a href="http://www.designgift.de">www.designgift.de</a>

        </p>

        <p>&nbsp;</p>

        <p>
          22 + 23 November <br/>
          ELBRAUSCH Hamburg <br/>
          Holstenglacis 6 <br/>
          <a href="http://elbrausch-art-kollektiv.blogspot.de">elbrausch-art-kollektiv.blogspot.de</a>
        </p>

        <p>&nbsp;</p>


      </div>
    </div>
  </div>
</div>
