<% @blogs.each do |article| %>

    <div class="title" style='font-family: Georgia;'>
      <%= article.title.html_safe %> <br/>
    </div>

    <%= article.body.html_safe %> <br/><br />

    <div class="">
      <%= link_to "comments", blog_path(article, :anchor => "disqus_thread", "data-disqus-identifier" => article.id) %>
      <br /><br />
      <%= social_share_button_tag(article.title) %>
    </div>
    <br /><br /><br />

<% end %>

