<% @blogs.each do |article| %>

    <div class="title" style='font-family: Georgia;'>
      <%= article.title.html_safe %> <br/>
    </div>


    <%= article.body.html_safe %> <br/>



    <%# link_to "comments", article %>

    <%= link_to "comments", blog_path(article, :anchor => "disqus_thread", "data-disqus-identifier" => article.id) %> <br />
    <%= social_share_button_tag(article.title) %> <br />

<% end %>

