


<div class="omenks">

  <p>
    <strong>
      <%= @blog.title.html_safe %>
    </strong>

  </p>

  <p>

    <%= @blog.body.html_safe %>
  </p>

</div>
<div>
  <br/>
  <%= social_share_button_tag(@blog.title) %> <br />

</div>

<div id="disqus_thread"></div>

<%= render "layouts/disqus_embed"%>


